In [2]:
import pandas as pd

In [3]:
Admiss = pd.read_csv('https://raw.githubusercontent.com/srinivasav22/Graduate-Admission-Prediction/master/Admission_Predict_Ver1.1.csv')

In [4]:
Admiss.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [6]:
Admiss['University Rating'].value_counts()

3    162
2    126
4    105
5     73
1     34
Name: University Rating, dtype: int64

In [7]:
Admiss = Admiss.drop('Serial No.', axis = 1)

In [15]:
Admiss.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [14]:
Admiss['SOP']

0      4.5
1      4.0
2      3.0
3      3.5
4      2.0
      ...
495    4.5
496    5.0
497    4.5
498    4.0
499    4.5
Name: SOP, Length: 500, dtype: float64

In [16]:
X_train = Admiss.drop('Chance of Admit ', axis = 1)

In [17]:
y_train = Admiss['Chance of Admit ']

In [9]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,y_train,y_test = train_test_split(X_train,y_train,test_size= 0.3, random_state= 10)

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
scaler = StandardScaler()

In [26]:
scaler.fit(X_train,y_train)

StandardScaler()

In [27]:
X_train_tf = scaler.transform(X_train)

In [29]:
X_train_tf[1]

array([-1.72084918, -1.640959  , -0.95109573, -1.86576993, -1.51864185,
       -1.21350466, -1.11516355])

In [30]:
from sklearn.svm import SVR

In [31]:
model_reg = SVR()

In [34]:
model_reg.fit(X_train_tf,y_train)

SVR()

In [36]:
model_reg.score(X_train_tf,y_train)

0.795781689842849

In [32]:
X_test

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
151        332          116                  5  5.0   5.0  9.28         1
424        325          114                  5  4.0   5.0  9.46         1
154        326          108                  3  3.0   3.5  8.89         0
190        324          111                  5  4.5   4.0  9.16         1
131        303          105                  5  5.0   4.5  8.65         0
..         ...          ...                ...  ...   ...   ...       ...
12         328          112                  4  4.0   4.5  9.10         1
97         331          120                  3  4.0   4.0  8.96         1
130        339          114                  5  4.0   4.5  9.76         1
472        327          116                  4  4.0   4.5  9.48         1
315        308          104                  2  2.5   3.0  8.07         0

[150 rows x 7 columns]

In [37]:
X_test_tf = scaler.transform(X_test)

In [40]:
y_pred = model_reg.predict(X_test_tf)

In [44]:
y_pred

array([0.86496485, 0.86544376, 0.64482082, 0.85299827, 0.70763825,
       0.7571679 , 0.64021645, 0.83816038, 0.60406053, 0.74953337,
       0.87375522, 0.80908299, 0.85151268, 0.68206529, 0.79832462,
       0.74628127, 0.71051801, 0.75015934, 0.74486319, 0.63187005,
       0.75244662, 0.62602166, 0.60171367, 0.86635673, 0.47398891,
       0.8661915 , 0.74616477, 0.53425296, 0.65956319, 0.65960375,
       0.88142411, 0.76185187, 0.60568308, 0.66238013, 0.72404164,
       0.8630678 , 0.81551904, 0.67001503, 0.67858022, 0.70142812,
       0.86592714, 0.58948813, 0.69874498, 0.87381215, 0.85493405,
       0.4932171 , 0.56540147, 0.65592219, 0.7767599 , 0.73489897,
       0.792937  , 0.67790403, 0.54329851, 0.60707356, 0.65354066,
       0.79546753, 0.8373931 , 0.6203227 , 0.69152995, 0.86854312,
       0.62174414, 0.82444754, 0.74117461, 0.51149328, 0.83425742,
       0.50999251, 0.70470418, 0.72261518, 0.52825757, 0.70414447,
       0.89849336, 0.54864252, 0.57481571, 0.73776689, 0.69877754,
       0.64425432, 0.67208671, 0.73188785, 0.85369241, 0.72799487,
       0.63857243, 0.66873685, 0.62347425, 0.77986055, 0.76376318,
       0.82191339, 0.82145464, 0.6018832 , 0.7326382 , 0.85848804,
       0.83327313, 0.586537  , 0.52393136, 0.74800859, 0.77726973,
       0.71169452, 0.69585736, 0.86997394, 0.46507524, 0.70938992,
       0.7698975 , 0.8659398 , 0.69069071, 0.74156853, 0.86657435,
       0.47648949, 0.77858181, 0.49740716, 0.76332043, 0.82522085,
       0.46321127, 0.72957719, 0.69464533, 0.63202936, 0.70075297,
       0.64090891, 0.69928857, 0.50062725, 0.74896874, 0.73641777,
       0.63268472, 0.88266049, 0.78436544, 0.79495694, 0.81452852,
       0.62917396, 0.67721147, 0.7136261 , 0.71921903, 0.87263088,
       0.86435118, 0.75081113, 0.79421623, 0.80151085, 0.60413325,
       0.62157645, 0.66669771, 0.62173616, 0.84813677, 0.83077914,
       0.52454624, 0.49515384, 0.55417874, 0.62340991, 0.61570864,
       0.8640849 , 0.80379257, 0.87781355, 0.89482818, 0.60232934])

In [42]:
from sklearn.metrics import accuracy_score

In [50]:
model_reg.score(X_test_tf,y_test)

0.7556686200980536